In [1]:
import pandas as pd
from sqlalchemy import create_engine
pd.set_option("display.max_rows", None)

In [ ]:
csv_file = "Resources/Bike Share Toronto Ridership_Q1 2018.csv"
biker_data_df = pd.read_csv(csv_file)
biker_data_df.head()

In [9]:
df = pd.concat(map(pd.read_csv, ['Resources/Bike Share Toronto Ridership_Q1 2018.csv', 'Resources/Bike Share Toronto Ridership_Q2 2018.csv','Resources/Bike Share Toronto Ridership_Q3 2018.csv', 'Resources/Bike Share Toronto Ridership_Q4 2018.csv']), ignore_index=True)
df.tail(3)

,trip_id,trip_duration_seconds,from_station_id,trip_start_time,from_station_name,trip_stop_time,to_station_id,to_station_name,user_type
1922952,4581275,340,7020,12/31/2018 23:49,Phoebe St / Spadina Ave,12/31/2018 23:55,7000,Fort York Blvd / Capreol Ct,Annual Member
1922953,4581276,1466,7014,12/31/2018 23:52,Sherbourne St / Carlton St (Allan Gardens),1/1/2019 0:17,7269,Toronto Eaton Centre (Yonge St),Annual Member
1922954,4581277,333,7299,12/31/2018 23:58,Mill St / Parliament St,1/1/2019 0:04,7013,Scott St / The Esplanade,Annual Member

In [12]:
df

pandas.core.frame.DataFrame